* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.index_blog {
  width: 85%;
  margin: 4% auto;
}

#blogs {
  display: flex;
  gap: 12px;
}

.blog-item {
  border: 2px solid red;
  flex: 3;
}

.blog-cat {
  border: 2px solid green;
  flex: 1;
}